.form{
  margin: auto;
  text-align: center;
  .form__input{
    margin: 15px 0;
  }
  .form__btn{
    background-color: #675BF1;
    outline: none;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    &:hover{
      cursor: pointer;
    }
  }
  .form__btn--save{
    margin: 20px auto;
  }
  label{
    width: 100px;
    display: inline-block;
    font-weight: 700;
    text-align: left;
  }
  input[type="text"]{
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 300px;
  }
}