.App {
  text-align: center;
  height: 700px;
  width: 600px;
  border: 3px solid black;
  margin: 10px auto;
  border-radius: 5px;
}
.add-task-wrapper {
  display: flex;
  padding: 0 20px;
  gap: 10px;
  margin-bottom: 30px;
}
